#welcome-back-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: last baseline;
    gap: 30px;
    justify-content: space-between;
}

.welcome-back-text {
    font-size: 45px;
    max-width: 350px;
    line-height: 68px;
}

#active-username {
    color: var(--primary-color);
}

.featured-curators-pick {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: last baseline;
    justify-content: start;
    overflow: hidden;
    border-radius: 20px;
}

.featured-curators-pick:hover {
    img {
        scale: 1.2;
        opacity: 0.5;
    }
}

.featured-curators-pick img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.4;
    position: absolute;
    transition: all 0.3s ease-in-out;
}

.featured-curators-pick span {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}

.featured-curators-pick p {
    font-weight: 500;
    font-size: 17px;
}

.featured-curators-pick .curators-pick-product-data {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 30;
}

#welcome-back-section .right-section {
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 20px;
}

.products-recommendation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--secondary-background);
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}

.products-recommendation .bottom {
    width: 100%;
}

.products-recommendation .bottom p {
    font-weight: 700;
}

.recommended-products-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.recommended-product {
    display: flex;
    align-items: top;
    gap: 10px;
    padding: 10px;
    transition: var(--general-transition);
    border-radius: 10px;
    cursor: pointer;
}

.recommended-product:hover {
    background-color: var(--surface-color);

    .left img {
        scale: 1.2;
    }
}

.recommended-product .left {
    overflow: hidden;
    border-radius: 10px;
    min-width: 80px;
}

.recommended-product .left img {
    width: 80px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
    transition: var(--general-transition);
}

.recommended-product .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

.recommended-product .recommended-product-name {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 13px;
    margin-top: 4px;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recommended-product .recommended-product-price {
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

#explore-your-curation-cta {
    font-size: 13px;
    margin-top: 10px;
}

.product-categories-container .category-container {
    cursor: pointer;
}


#daily-edit-section {
    margin-top: 70px;
}

/*Additional styles for user homepage products grid*/
.products-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product-container {
    cursor: pointer;
}

.product-cta-container {
    display: flex;
    gap: 20px;
    align-items: last baseline;
}

.add-to-wishlist-btn {
    height: 40px;
}

#my-tech-section {
    margin-top: 60px;
}






@media(max-width:768px) {

    .welcome-back-text {
        font-size: 30px;
        max-width: 100%;
        line-height: 50px;
        margin-bottom: 20px;
    }

    #welcome-back-section {
        row-gap: 40px;
    }

    #welcome-back-section .right-section {
        padding-top: 0;
    }

    .featured-curators-pick {
        height: 400px;
        width: 100%;
    }

    .featured-curators-pick span {
        line-height: 40px;
        font-size: 16px;
    }

    .recommended-product .product-name {
        width: 82%;
    }

    .products-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media(max-width:550px) {
    #welcome-back-section {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .recommended-product {
        padding: 10px 0;
    }
}