.header-right {
    gap: 15px;
}

.header-right>a {
    /*The child combinator styles only the direct children of the parent container and not any nested children or grandchildren*/
    position: relative;
}

.number-badge-display {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 7px;
    border-radius: 200px;
    right: -9px;
    top: -9px;
    font-size: 9px;
    background-color: var(--secondary-color);
}

.authenticated-mobile-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--secondary-background);
    width: 180px;
    padding: 20px;
    align-items: start;
    left: -200px;
    opacity: 0;
    transition: var(--general-transition);
    z-index: 300;
}

.authenticated-mobile-nav .top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    font-size: 14px;
}

.authenticated-nav-item {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    padding: 15px;
    background-color: var(--surface-color);
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
    transition: var(--general-transition);
}

.authenticated-nav-item:hover {
    background-color: var(--secondary-color);
}

.authenticated-nav-item i {
    margin-bottom: 1px;
    margin-left: 4px;
}

.authenticated-mobile-nav .bottom {
    width: 100%;
}

.authenticated-mobile-nav-active {
    left: 0;
    opacity: 1;
}

.log-out-button {
    width: 100%;
    border-style: none;
    background: none;
    padding: 10px;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
    color: var(--primary-text-color);
    font-weight: 900;
    font-size: 16px;
}

#welcome-back-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: top;
    gap: 30px;
    justify-content: space-between;
}

.welcome-back-text {
    font-size: 45px;
    max-width: 350px;
    line-height: 65px;
}

#active-username {
    color: var(--primary-color);
}

.featured-curators-pick {
    position: relative;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: last baseline;
    justify-content: start;
}

.featured-curators-pick img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.4;
    position: absolute;
}

.featured-curators-pick span {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}

.featured-curators-pick p {
    font-weight: 500;
    font-size: 17px;
}

.featured-curators-pick .product-data {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 30;
}

#welcome-back-section .right-section {
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 20px;
}

.products-recommendation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--secondary-background);
    border-radius: 20px;
    width: 100%;
    height: fit-content;
}

.products-recommendation .top {
    font-size: 14px;
    line-height: 30px;
}

.products-recommendation .bottom p {
    font-weight: 700;
}

.recommended-products-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.recommended-product {
    display: flex;
    align-items: top;
    gap: 10px;
    padding: 10px;
    background-color: var(--surface-color);
    border-radius: 10px;
}

.recommended-product .left img {
    width: 80px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.recommended-product .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommended-product .product-name {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 14px;
    margin-top: 2px;
}

.recommended-product .product-price {
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-text-color);
}

#explore-your-curation-cta {
    font-size: 13px;
    margin-top: 10px;
}





@media(max-width:768px) {
    .header-icon {
        display: none;
    }

    #header-search-bar {
        width: 250px;
    }

    .welcome-back-text {
        font-size: 30px;
        max-width: 100%;
        line-height: 50px;
        margin-bottom: 20px;
    }

    .header-icon {
        display: none;
    }

    #header-search-bar {
        width: 250px;
    }

    #welcome-back-section {
        row-gap: 40px;
    }

    #welcome-back-section .right-section {
        padding-top: 0;
    }

    .featured-curators-pick {
        height: 400px;
        width: 100%;
    }

    .featured-curators-pick span {
        line-height: 40px;
        font-size: 16px;
    }
}

@media(max-width:550px) {
    #welcome-back-section {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }


}