main {
    position: relative;
}

.back-button {
    position: absolute;
    top: 100px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--surface-color);
    border-radius: 200px;
    font-size: 15px;
    z-index: 20;
    color: var(--primary-text-color);
    font-weight: 800;
}