.primary-modal {
    position: fixed;
    justify-self: center;
    align-self: center;
    top: 100px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    background-color: var(--secondary-background);
    border-radius: 20px;
    width: 450px;
    display: none;
    pointer-events: none;
}

.modal-active {
    display: flex;
    pointer-events: all;
}


.modal-header {
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

.modal-close-button {
    position: absolute;
    right: -10px;
    top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 13px;
    cursor: pointer;
}

.modal-input-field-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-input-field-container label {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
}

.modal-input-field-container input,
.modal-input-field-container textarea {
    background: none;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--surface-color);
    padding-left: 15px;
    color: white;
    padding-right: 15px;
}

.modal-input-field-container input::-webkit-inner-spin-button {
    display: none;
}

.modal-input-field-container textarea {
    height: 120px;
    padding-top: 15px;
    resize: none;
    line-height: 30px;
}

.modal-submit-button {
    width: 100%;
}

@media(max-width:550px) {
    .primary-modal {
        width: 80%;
    }

    .modal-header {
        font-size: 18px;
    }

    .modal-subheader {
        font-size: 13px;
    }

    .modal-close-button {
        font-size: 10px;
        padding: 8px;
    }
}