:root {
    --primary-color: #5856D6;
    --secondary-color: #3F3BBD;
    --primary-background: #0B0B0B;
    --secondary-background: #121214;
    --surface-color: #1C1C1E;
    --primary-text-color: #FCF9F8;
    --secondary-text-color: #AEAEB2;
    --disabled-text: #636366;
    --success-color: #34C759;
    --danger-color: #FF3B30;
    --warning-color: #FF9500;
    --primary-font-family: inter, sans-serif;
    --secondary-font-family: poppins, monospace;
    --general-transition: all 0.2s ease-in-out;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 3, 17);
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px 0 0 20px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

.wrapper {
    max-width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/*Primary buttons are used in auth forms*/
.primary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: none;
    border: none;
    color: var(--primary-text-color);
    text-transform: capitalize;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-weight: 700;
    transition: var(--general-transition);
}

.primary-button:hover {
    background-color: var(--secondary-color);
}


.cta {
    border-radius: 8px;
    background: none;
    border: none;
    padding: 10px 20px;
    color: var(--primary-text-color);
    transition: var(--general-transition);
    color: var(--primary-text-color);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    cursor: pointer;
}

.primary-cta {
    background-color: var(--primary-color);
    padding: 12px 22px;
}

.primary-cta:hover {
    gap: 8px;
    background-color: var(--secondary-color);
    translate: 5px 0;
}

.primary-cta i {
    font-size: 13px;
    margin-top: 3px;
}

.secondary-cta {
    border: 2px solid var(--primary-color);
}

.secondary-cta:hover {
    background-color: var(--surface-color);
}

.alternate-cta {
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 22px;
    background-color: rgb(239, 236, 236);
    color: black;
    border-radius: 200px;
    font-weight: 600;
    width: fit-content;
    font-size: 15px;
    gap: 6px;
    transition: var(--general-transition);
    cursor: pointer;
}

.alternate-cta:hover {
    translate: 5px 0;
    background-color: white;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    pointer-events: none;
    z-index: 90;
    opacity: 0;
    transition: var(--general-transition);
}

.overlay-active {
    pointer-events: all;
    opacity: 0.6;
    background-color: black;
}





/*
Media Queries
First Breakpoint: 1024px
Second Breakpoint: 768px
Third Breakpoint: 550px
Last Breakpoint: 370px
*/