#home-section {
    display: flex;
    align-items: top;
    gap: 20px;
}

#home-section .left-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.main-header {
    font-size: 45px;
    line-height: 58px;
}

.main-header span {
    color: var(--primary-color);
}

.main-subheader {
    font-family: var(--secondary-font-family);
    font-size: 17px;
    line-height: 37px;
    font-weight: 400;
}

.main-subheader span {
    color: var(--primary-color);
}

.cta-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#home-section .right-section {
    width: 85%;
    height: 370.812px;
    display: flex;
    justify-content: end;
    align-items: top;
    overflow: hidden;
    border-radius: 30px;
}

#home-section .right-section::-webkit-scrollbar {
    display: none;
}

.slideshow-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    opacity: 0;
    user-select: none;
    opacity: 0;
    position: fixed;
    pointer-events: none;
    height: 371px;
    width: 100%;
    right: 20px;
    top: 20px;
    translate: 10px 0;
}

.active-slideshow-image {
    transition: all 0.6s ease-in-out;
    opacity: 0.5;
    position: static;
    pointer-events: all;
    translate: 0 0;
    width: 100%;
    height: 100%;
    translate: 0 0;
}

#home-section .right-section img:hover {
    scale: 1.2;
    opacity: 0.7;
}


#products-section {
    display: flex;
    flex-direction: column;
    gap: 110px;
    margin-top: 50px;
}



#products-grid-sub-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#products-grid-sub-section .section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-controls-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.grid-controls-container .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--surface-color);
    border-radius: 200px;
    outline: 1px solid rgb(66, 65, 65);
    cursor: pointer;
    transition: var(--general-transition);
}

.grid-controls-container .arrow:hover {
    background-color: var(--primary-color);
    outline: none;
}

/*Check products-grid.css for products grid styles*/

#about-us-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 80px;
}

#company-description-sub-section {
    display: flex;
    justify-content: start;
    width: 100%;
    position: relative;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
    padding: 30px;
    transition: var(--general-transition);
}

#company-description-sub-section:hover {
    img {
        filter: blur(0px);
    }
}

#company-description-sub-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.4;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(4px);
    transition: var(--general-transition);
}

#company-description-sub-section p {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 60px;
    max-width: 600px;
    margin-top: auto;
    line-height: 80px;
}

#company-description-sub-section span {
    font-size: 18px;
    font-family: var(--secondary-font-family);
    margin-top: 18px;
    line-height: 37px;
    max-width: 800px;
}

.explore-collection-button {
    margin-top: 20px;
    transition: var(--general-transition);
}

.explore-collection-button i {
    margin-top: 3px;
    font-size: 14px;
    transition: var(--general-transition);
}

.explore-collection-button:hover {
    i {
        translate: 5px 0;
    }
}

#our-mission-sub-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    gap: 20px;
    background-color: var(--secondary-background);
    border-radius: 20px;
    padding: 30px 20px;
}

#our-mission-sub-section p {
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
}

#our-mission-sub-section span {
    font-size: 17px;
    line-height: 40px;
    font-weight: 500;
    font-family: var(--secondary-font-family);
}

#nexa-standard-sub-section {
    margin-top: 10px;
}

#nexa-standard-sub-section .top {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    gap: 20px;
}

.nexa-standard-sub-section-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 15px;
}

.nexa-standard-sub-section-card div {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nexa-standard-sub-section-card span {
    line-height: 40px;
    margin-top: 10px;
    font-family: var(--secondary-font-family);
}

#nexa-standard-sub-section .bottom {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 20px;
}

#precision-first-card {
    background: linear-gradient(to left, rgb(62, 3, 62) 1%, rgb(14, 8, 24) 100%)
}

#built-to-last-card {
    background: linear-gradient(to right, rgb(6, 6, 87) 1%, rgb(14, 8, 24) 100%);
}

#minimal-by-design-card {
    background: linear-gradient(to left, rgb(7, 105, 84) 1%, rgb(14, 8, 24) 100%)
}

#everyday-excellence-card {
    background: linear-gradient(to right, rgb(100, 40, 15) 1%, rgb(14, 8, 24) 100%);
}

#nexa-standard-sub-section .bottom {
    margin-top: 20px;
}





















@media(max-width:1024px) {
    #home-section {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #home-section .left-section {
        text-align: center;
    }

    .cta-container {
        justify-content: center;
        margin-top: 20px;
    }

    .slideshow-images {
        opacity: 0.5;
        position: relative;
        pointer-events: all;
        translate: 0 0;
        width: 100%;
        height: 100%;
    }

    #home-section .right-section {
        display: flex;
        align-items: center;
        justify-content: start;
        overflow: scroll;
        gap: 40px;
        width: 100%;
        border-radius: 0;
        padding: 0 20px;
        margin-top: 40px;
    }

    #home-section .right-section img {
        width: 300px;
        height: 300px;
        transition: all 0.4s ease-in-out;
    }

    #home-section .right-section img:hover {
        width: 120%;
        scale: 1;
    }
}



@media (max-width:768px) {
    #products-section {
        margin-top: 80px;
    }

    .grid-controls-container {
        display: none;
    }



    #nexa-standard-sub-section .top {
        grid-template-columns: 1fr;
    }

    #nexa-standard-sub-section .bottom {
        grid-template-columns: 1fr;
    }
}

@media(max-width:550px) {
    main {
        padding: 100px 20px 20px 20px;
    }

    .main-header {
        font-size: 30px;
    }

    .main-subheader {
        font-size: 15px;
    }

    #home-section .right-section img {
        width: 240px;
        height: 240px;
    }



    .product-categories-container {
        margin-top: 40px;
    }

    #company-description-sub-section {
        padding-bottom: 30px;
        height: 500px;
    }

    #company-description-sub-section p {
        font-size: 30px;
        max-width: 350px;
        line-height: 50px;
    }

    #company-description-sub-section span {
        font-size: 14px;
        margin-top: 10px;
    }

    #our-mission-sub-section p {
        font-size: 30px;
    }

    #our-mission-sub-section p span {
        font-size: 14px;
    }

    .nexa-standard-sub-section-card div {
        font-size: 20px;
    }
}